﻿@font-face {
    font-family: 'DracuFrankenWolfBB';
    src: url('../font/DracuFrankenWolfBB.otf'), format('otf'),
        url('../font/DracuFrankenWolfBB.woff2') format('woff2'), 
        url('../font/DracuFrankenWolfBB.wotf') format('woff');
}

body {
    font-family: DracuFrankenWolfBB;
}